*{
    box-sizing: border-box;
    font-family: "Roboto";
    color: white;
}
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background:#000 url('../Assets/Videos/Loading.gif') no-repeat center/contain;
    background-size: 40% auto;
}
body{
    background-color: rgb(22, 22, 22);
}
.hover:hover{
    cursor: default;
}
.Top{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding-top: 5px;
    width: 80%;
    height: 110px;
    margin: auto;
    background-color: #232323;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.Flex-Center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.P-text{
    margin-left: 10px;
    margin-right: 10px;
}
.Typewriter{
    display: flex;
}
.Bigger-Text{
    color:#ffffff;
    padding-left: 20px;
    font-size: x-large;
    text-align: center;
}
.Bigger-Text-2{
    color:#ffffff;
    padding-left: 20px;
    font-size: x-large;
    text-align: center;
}
.Small-Logo{
    width: 75px;
    height: 75px;
}
#changing-text {
    overflow: hidden;
}

.blink {
    animation: blink 2s ease infinite;
    -webkit-animation: blink 2s ease infinite;
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}
#changing-text-2{
    overflow: hidden;
}
.Desc{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    width: 48%;
    margin: auto;
    margin-top: 30px;
    background-color: rgb(47, 0, 59);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.Desc-Text{
    font-family: "Josefin Sans";
    font-size: x-large;
    text-align: center;
}
#changing-text-3{
    overflow: hidden;
}
.img-holder{
    width: 50%;
    height: 50%;
    border-radius: 20px;
}
.Desc-Q{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    width: 48%;
    height: 250px;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(47, 0, 59);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
#changing-text-4{
    overflow: hidden;
}
