@media screen and (max-width: 856px) {
    #page-preloader {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background:#000 url('../Assets/Videos/Loading.gif') no-repeat center/contain;
        background-size: 40% auto;
    }
    .Top{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
        width: 80%;
        height: 100px;
        background-color:#232323;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    .Flex-Center{
        display: flex;
        justify-content: center;
    }
    .P-text{
        margin-left: 10px;
    }
    .Typewriter{
        display: flex;
    }
    .Bigger-Text{
        padding-left: 10px;
        font-size: large;
        text-align: center;
    }
    .Bigger-Text-2{
        color:#ffffff;
        padding-left: 20px;
        font-size: large;
        text-align: center;
    }

    .Small-Logo{
        width: 50px;
        height: 50px;
    }
    #changing-text {
        overflow: hidden;
    }
    
    .blink {
        animation: blink 2s ease infinite;
        -webkit-animation: blink 2s ease infinite;
    }
    
    @keyframes blink {
        0%, 50%, 100% {
            opacity: 1;
        }
        25%, 75% {
            opacity: 0;
        }
    }
    .Desc{
        display: flex;
        justify-content: center;
        padding-top: 5px;
        width: 48%;
        margin: auto;
        margin-top: 30px;
        background-color: rgb(31, 31, 31);
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    .Desc2{
        display: flex;
        justify-content: center;
        padding-top: 5px;
        width: auto;
        margin: auto;
        margin-top: 30px;
        background-color: rgb(22, 22, 22);
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    #changing-text-2{
        overflow: hidden;
    }
    .Desc-Text{
        font-family: "Josefin Sans";
        font-size: large;
        text-align: center;
    }
}
@media screen and (max-width: 515px) {
    .Top{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
        width: 80%;
        height: 85px;
        background-color:#232323;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    .Bigger-Text{
        padding-left: 5px;
        font-size: small;
        text-align: center;
    }
    .Bigger-Text-2{
        padding-left: 5px;
        font-size: small;
        text-align: center;
    }

    .Desc-Text{
        font-family: "Josefin Sans";
        font-size:medium;
        text-align: center;
    }
}
@media screen and (max-width: 250px) {
    .Bigger-Text{
        padding-left: 20px;
        font-size: small;
        text-align: center;
    }

    .Desc-Text{
        font-family: "Josefin Sans";
        font-size: small;
        text-align: center;
    }
}
@media screen and (max-width: 210px) {
    .Desc-Text{
        font-family: "Josefin Sans";
        font-size: large;
        text-align: center;
    }
}